.carosal__div{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.movie__poster{
    display: flex;
    justify-content: center;
}

.current__movie__poster{
    min-width: 0;
    width: 100%;
}

.previous__arrow,
.next__arrow{
    height: 200px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    opacity: 0.5;
    flex-shrink: 1;
    cursor: pointer;
    transition: all 0.5s;
}

.previous__arrow img,
.next__arrow img{
    width: 70%;
    /* object-fit: contain; */
}

.previous__arrow:hover,
.next__arrow:hover{
    opacity: 1;
    transform: scale(1.06);
}

@media screen and (max-width: 900px){
    .carosal__div{
        flex-direction: column;
    }

    .current__movie__poster{
        width: 80%;
    }

    .previous__arrow,
    .next__arrow{
        height: 150px;
    }

}

@media screen and (max-width:680px){
    .carosal__div{
        display: none;
    }
}